<form class="form-grid" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Название</mat-label>
    <input formControlName="name" matInput required/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Категория</mat-label>
    <mat-select formControlName="category" required>
      <mat-option *ngFor="let category of categories$ | async"
                  [value]="category.value">
        {{ category.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Описание</mat-label>
    <textarea formControlName="description" matInput required></textarea>
  </mat-form-field>

  <app-select-file-button (fileSelected)="form.controls.photo.setValue($event)"></app-select-file-button>

  <button (click)="create()"
          [disabled]="form.invalid"
          color="primary"
          mat-flat-button
          style="margin-top: 10px;">
    Создать
  </button>
</form>
