<form class="form-grid" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Название</mat-label>
    <input formControlName="name" matInput/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Категория</mat-label>
    <mat-select formControlName="category">
      <mat-option value="first">Тип 1</mat-option>
      <mat-option value="second">Тип 2</mat-option>
      <mat-option value="third">Тип 3</mat-option>
      <mat-option value="fourth">Тип 4</mat-option>
      <mat-option value="fifth">Тип 5</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Описание</mat-label>
    <textarea formControlName="description" matInput></textarea>
  </mat-form-field>

  <button color="primary" mat-stroked-button>
    Загрузить фото
    <mat-icon>file_upload</mat-icon>
  </button>

  <button (click)="create()" color="primary" style="margin-top: 10px;" mat-flat-button>Создать</button>
</form>
