<section class="grid" [formGroup]="form">
  <h1>Регистрация</h1>

  <mat-form-field appearance="outline">
    <mat-label>ФИО</mat-label>
    <input formControlName="name" required matInput/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Логин</mat-label>
    <input formControlName="login" required matInput/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input formControlName="email" required matInput/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Пароль</mat-label>
    <input formControlName="password" required type="password" matInput/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Повтор пароля</mat-label>
    <input #passwordDuplicate type="password" required matInput/>
  </mat-form-field>

  <mat-checkbox #consent>
    Согласие на обработку персональных данных
  </mat-checkbox>

  <button mat-flat-button color="primary"
          (click)="registration()"
          [disabled]="(passwordDuplicate.value !== form.value.password) || !consent.checked || form.invalid">
    Зарегистрироваться
  </button>
</section>
