:host ::ng-deep {
  .mat-badge-content {
    padding: 3px;
    text-overflow: initial;
  }
}

.grid {
  display: grid;
  justify-content: center;
  padding: 2rem;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
}
